.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  margin-top:92px;
  margin-bottom:92px;
  margin-right:50px;
  margin-left:50px;
}
.header__links-list {
  display: flex;
  gap: 33px;
  margin-top:-5px;
}
.header__links-list-item {
  font-size: 18px;
  list-style: none;
}
.header__links-list-item:nth-child(n+2) {
  list-style:circle;
}
.text-main {
  text-decoration: none;
  color: black;
}
.text-either {
  border-bottom: 1px solid;
  text-decoration: none;
}
.header__logo-image {
  width: 148px;
  height: 105px;
}
.telefon-mail {
  text-decoration: none;
  border-bottom: 1px solid black;
}
.address {
  font-style: normal;
  font-size: 18px;
  line-height: 24.3px;
}
.address.adress-header {
  margin-top:-4px;
  padding-left:186px;
}
.main_content {
  position: relative;
  width: 1100px;
  height: 757px;
}
.main-img {
  position: absolute;
  height: 757px;
  width: 1100px;
  object-fit: cover;
}
.main_content::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}
.h1_section1 {
  display: flex;
  justify-content: center;
}
.it,
.you,
.need {
  z-index: 1;
  font-size: 100px;
  color: white;
  position: absolute;
  width: 100%;
  text-transform:uppercase;
}
.it {
  width: 286px;
  transform: translate(-357px, 164px);
  letter-spacing:30px;
}
.you {
  width: 385px;
  transform: translate(23px, 300px);
  letter-spacing:30px;
}
.need {
  width: 387px;
  transform: translate(307px, 434px);
  letter-spacing:30px;
}
.text_auction {
  font-size: 22px;
  text-transform: uppercase;
  color: white;
  position: absolute;
  word-spacing: 18px;
  z-index: 1;
  top: 670px;
  left: 50px;
}
.text_stavka {
  font-size: 22px;
  text-transform: uppercase;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  padding:12px 32px;
  position: absolute;
  top: 655px;
  left: 793px;
  z-index: 1;
}
.section_lots {
  margin: 181px 24px 27px 24px;
}
.lots {
  font-size: 40px;
  margin-left: 40px;
  text-transform: uppercase;
}
.section2_ul {
  display: flex;
  gap: 25px;
  padding-top:26px;
}
.section2_li {
  overflow: hidden;
}
.title_card {
  text-decoration: underline;
  font-size: 22px;
  text-transform: uppercase;
  color: white;
  z-index: 1;
  padding-top:48px;
  padding-left:40px;
}
.text_card {
  font-size: 20px;
  text-align: left;
  padding-left:40px;
  color: white;
  z-index: 1;
  padding-bottom:50px;
}
.content1,
.content2,
.content3 {
  position: relative;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  width: 334px;
  height: 596px;
  color: white;
  background-size: cover;
}
.background-img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.content1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}
.content2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}
.content3::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}
.text_look {
  font-size: 20px;
  margin: 30px 820px 0px 39px;
  border-bottom: 1px solid;
}
.about_auction_main {
  position: relative;
  display: flex;
  gap: 72px;
  margin: 78px 24px 0px 24px;
}
.circle {
  position: absolute;
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 100%;
  top: 76px;
  right:765px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.logo_2 {
  width: 148px;
  height: 114x;
}
.about-content {
  margin: 145px 0px 0px 359px;
}
.about_auction {
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  margin-top:36px;
}
.text_here {
  margin-top:103px;
  margin-bottom:23.5px;
  font-size: 20px;
  line-height: 24px;
}
.text_hard {
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 24px;
}
.footer {
  display: flex;
  justify-content: space-between;
  margin: 181px 50px 0px 50px;
}
.footer_list {
  padding-left:5px;
  margin-top:-1px;
}
.footer_ul {
  gap:1px;
  display: flex;
  list-style: none;
  flex-direction: column;
  text-align: center;
  margin: 0px;
}
.address_footer {
  font-size: 18px;
  line-height: 24.3px;
}
.footer_logo_ul {
  display: flex;
  gap: 48px;
  list-style: none;
}
.footer_list_li2 {
  width: 48px;
}
.header__links-list-item-footer {
  font-weight: 400;
  font-size: 18px;
}

